html{
  margin: auto;
  font-family: sans-serif;
  background-color: #000000;
}

.body{

}

.container{
  padding: 10px;
  max-width: 800px;
  background-color: #ffd95c;
  border-radius: 10px;
  margin: auto;
}

.input{
  font-weight: bold;
  padding: 5px;
  border: 2px solid #d9ad1e;
  border-radius: 5px;
  transition: 0.5s;

  &:focus{
    color: #ffffff;
    transition: 0.3s;
    background-color: #d9ad1e8c;
    outline: none;
  }
}

.button{
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FFD95C;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: 0.6s;
  min-width: 30px;

  &:hover{
    cursor: pointer;
    transition: 0.6s;
    background-color: #d98e1e;
    border: 2px solid transparent;
    color: #ffffff;
  }
}

.select{
  background-color: #ffffff;
  border: 2px solid #d9ad1e;
  border-radius: 5px;
  transition: 0.6s;

  &:focus{
    transition: 0.1s;
    background-color: #d9ad1e;
    color: #ffffff;
    border: 2px solid #ffffff;
    outline: none;
  }
}

.header{

  &__title{
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.todos{
  &__box{
  }

  &__buttons-section{
    display: flex;
    justify-content: space-between;

  }

  &__buttons{
    display: flex;
    gap: 10px;
  }

  &__number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: #ffd95c;
    padding: 1px;
    border-radius: 5px;
    margin: 0;
    width: 30px;    
    font-weight: bold;
    user-select: none;
  }

  &__info{
    margin: 15px 0 0 0;
  }

  &__tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card{
    margin: 0;
    padding: 10px;
    background-color: #d98e1e;
    border-radius: 10px;
    border: 2px solid #d98e1e;
    transition: 0.5s;

    &:hover{
      transition: 0.5s;
      background: #d98e1e8a;
    }
  }

  &__task{
    user-select: none;
    margin: 0;
  }

  &__completed{
    padding: 2px;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    user-select: none;
    margin: 5px 0px;
  }
}

.todo{
  &__back{
    background-color: #d98e1e;
    width: 10%;
    padding: 4px 0px 0px 0px;
    text-align: center;
  }

  &__task{
    background-color: #d98e1e;
    padding: 1px 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  &__completed{
    padding: 2px;
    border-radius: 5px;
    width: 15%;
    text-align: center;
  }
}

.crud{
  margin-top: 20px;
  &__box{
    padding: 2px 13px;
    background-color: #d98e1e;
    min-height: 100px;
    border-radius: 10px;
  }

  &__form{
    display: flex;
    justify-content: space-between;
    background-color: #d98e1e;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
  }

  &__form-inp{
    background-color: #ffd95c;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    width: 70%;

    &:focus{
      outline: none;
    }
  }

  &__add{
    width: 25%;

    &:hover{
      background: rgba(255, 196, 34, 0.836)
    }
  }
}