html{
  margin: auto;
  font-family: sans-serif;
  background-color: #000000;
}

.body{

}

.container{
  padding: 10px;
  max-width: 800px;
  background-color: #ffd95c;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.input{
  font-weight: bold;
  padding: 5px;
  border: 2px solid #d9ad1e;
  border-radius: 5px;
  transition: 0.5s;

  &:focus{
    color: #ffffff;
    transition: 0.3s;
    background-color: #d9ad1e8c;
    outline: none;
  }
}

.button{
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FFD95C;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: 0.6s;
  min-width: 30px;

  &:hover{
    cursor: pointer;
    transition: 0.6s;
    background-color: #d98e1e;
    border: 2px solid transparent;
    color: #ffffff;
  }
}

.select{
  background-color: #ffffff;
  border: 2px solid #d9ad1e;
  border-radius: 5px;
  transition: 0.6s;

  &:focus{
    outline: none;
  }
}

.header{
  &__box{
  }

  &__title{
    position: fixed;
    text-align: center;
    font-size: 90px;
    text-align: center;
    z-index: 0;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.5s;
  }

  &__scroll{
    transition: 0.5s;
    font-size: 130px;
    filter: blur(5px);
  }
}

.todos{
  position: relative;
  z-index: 3;
  &__box{
    
  }

  &__buttons-section{
    display: flex;
    justify-content: space-between;

  }

  &__buttons{
    display: flex;
    gap: 10px;
  }

  &__number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: #ffd95c;
    padding: 1px;
    border-radius: 5px;
    margin: 0;
    width: 30px;    
    font-weight: bold;
    user-select: none;
  }

  &__info{
    margin: 15px 0 0 0;
  }

  &__tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card{
    margin: 0;
    padding: 10px;
    background: #d98e1e8a;
    border-radius: 10px;
    border: 2px solid #d98e1e;
    transition: 0.5s;
  }

  &__task{
    user-select: none;
    margin: 0;
  }

  &__completed{
    padding: 2px;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    user-select: none;
    margin: 5px 0px;
  }
}

.todoPage{
  &__back{
    background-color: #d98e1e;
    width: 10%;
    padding: 4px 0px 0px 0px;
    text-align: center;
  }

  &__task{
    background-color: #d98e1e;
    padding: 1px 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  &__completed{
    padding: 2px;
    border-radius: 5px;
    width: 15%;
    text-align: center;
  }
}

.todo{
  z-index: 1;

  &__back{
    background-color: #d98e1e;
    width: 10%;
    padding: 4px 0px 0px 0px;
    text-align: center;
  }

  &__task{
    background-color: #d98e1e;
    padding: 1px 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  &__completed{
    padding: 2px;
    border-radius: 5px;
    width: 15%;
    text-align: center;
  }
}

.form{
  z-index: 1;

  position: relative;
  margin-top: 120px;
  z-index: 1;
  
  &__box{
  }

  &__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__add-task{
    padding: 10px 13px;
    background-color: #d98e1e;
    border-radius: 10px;

    display: flex;
    gap: 40px;
  }

  &__input{
    background-color: #ffd95c;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    width: 70%;

    &:focus{
      background-color: #ffd95c;
      outline: none;
    }
  }

  &__button{
    width: 25%;

    &:hover{
      background: rgba(255, 196, 34, 0.836)
    }
  }

  &__select-section{
    display: flex;
    justify-content: flex-end;
  }

  &__select{
    background-color: #d98e1e;
    border: 2px solid transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;

    &:focus{
      background-color: #ffd95c;
      border: 2px solid #d98e1e;
      color: #000000;
    }

    option{
      font-weight: bold;
    }
  }
}

.todo{
  z-index: 1;
  &__box{
    display: flex;
    justify-content: space-between;
    background-color: #d98e1e;
    border-radius: 10px;
    padding: 10px;
  }

  &__buttons{
    display: flex;
    gap: 10px;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  &__item{
    display: flex;
    align-items: center;

    list-style: none;
  }

  &__complete{
    &:hover{
      background-color: rgb(109, 170, 94);
    }
  }

  &__delete{
    &:hover{
      background-color: #c96e53;
    }
  }

  .completed{
    text-decoration: line-through;
  }

  .button-comp{
    visibility: hidden;
  }
}

.footer{
  position: relative;
  &__text{
    position: inherit;
    z-index: 1;
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 10px;
  }

  &__link{
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .15em;
    transition: 0.6s;

    &:hover{
      transition: 0.6s;
      color: transparent;
      text-shadow: 
      2px -1px 0 #ff0000a6,
      0px 1px 0.3px rgb(19, 187, 19), 
      -2px 3px 0.5px rgba(0, 15, 226, 0.582);
    }
  }

  &__year{
    position: inherit;
    z-index: 0;
    text-align: center;
    margin: -27px 0 0 0;
    font-size: 35px;
    text-transform: uppercase;
    opacity: 50%;
    color:#d98e1e;
    filter: blur(3px);
  }
}